<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Cálculo de calorías</h2>
  </div>
  <div class="ns-card-body">
    <form name='calories_form' role='form'>
      <div class="form-group">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-model="person.type" btn-radio="'teenager'">Adolescente</button>
          <button type="button" class="btn btn-primary" ng-model="person.type" btn-radio="'adult'">Adulto</button>
        </div>
      </div>

      <div class="animate-switch-container" ng-switch on="person.type">
        <div class="animate-switch" ng-switch-when="adult">
          <div class="form-group has-feedback" ng-class="{ 'has-error': calories_form.age.$invalid }">
            <label class="control-label" for="age">Edad</label>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Años</span>
              <input type='number' step='.1' name='weight' ng-model='person.age' placeholder='Ingresa edad' class='form-control' required />
            </div>

            <div class='error' ng-show="calories_form.weight.$dirty && calories_form.weight.$invalid">
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              Requerido: numérico
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="adult_calories">Costo energético del embarazo por trimestre</label>
            <big><span class="label label-warning">{{person.adultCalories}} kcal</span></big>
            <div class="input-group input-group-lg input-group-select">
              <select name="adult_calories" class="form-control" ng-model="person.adultCalories", ng-options='a.calories as a.quarter for a in adultCalories'></select>
            </div>
            <hr>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Categoria</th>
                  <th>NAF</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sedentario o estilo de vida con actividad ligera.</td>
                  <td>1.40-1.69</td>
                </tr>
                <tr>
                  <td>Activo o estilo de vida  con actividad moderada</td>
                  <td>1.70- 1.99</td>
                </tr>
                <tr>
                  <td>Vigoroso o estilo de vida con actividad vigorosa </td>
                  <td>2.00- 2.40</td>
                </tr>
              </tbody>
            </table>
            <hr>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error': calories_form.physical_activity.$invalid }">
            <label class="control-label" for="physical_activity">Actividad física</label>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">NAF</span>
              <input type='number' step='.1' name='physical_activity' ng-model='person.physicalActivity' placeholder='Ingresa Actividad física' class='form-control' required />
            </div>

            <div class='error' ng-show="calories_form.physical_activity.$dirty && calories_form.physical_activity.$invalid">
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              Requerido: numérico
            </div>
          </div>
        </div>

        <div class="animate-switch" ng-switch-when="teenager">
          <div class="form-group">
            <label class="control-label" for="teenager_calories">Calorias extra segun la edad</label>
            <big><span class="label label-warning">{{person.teenagerCalories}} kcal</span></big>
            <div class="input-group input-group-lg input-group-select">
              <select class="form-control" ng-model="person.teenagerCalories", ng-options='a.calories as a.age for a in teenagerCalories'></select>
            </div>
          </div>
        </div>
      </div> <!-- end ng-switch -->

      <div class="form-group has-feedback" ng-class="{ 'has-error': calories_form.weight.$invalid }">
        <label class="control-label" for="weight">Peso previo al embarazo</label>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">kg</span>
          <input type='number' step='.1' name='weight' ng-model='person.weightBeforePregnancy' placeholder='Ingresa peso' class='form-control' required />
        </div>

        <div class='error' ng-show="calories_form.weight.$dirty && calories_form.weight.$invalid">
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          Requerido: numérico
        </div>
      </div>

      <div class="form-group">
        <h3>
          Total de calorías <code>{{result | number:2}} kcal</code>
        </h3>
      </div>
    </form>
  </div>
</div>
