<form name='calories_form' role='form'>
  <h2 class="ns-title">Cálculo de calorías</h2>


  <div class="form-group">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" ng-model="person.type" btn-radio="'teenager'">Adolescente</button>
      <button type="button" class="btn btn-primary" ng-model="person.type" btn-radio="'adult'">Adulto</button>
    </div>
  </div>

  <div ng-show="person.type == 'adult'">
    <div class="form-group has-feedback" ng-class="{ 'has-error': calories_form.age.$invalid }">
      <label class="control-label" for="age">Edad</label>
      <input type='number' step='.1' name='weight' ng-model='person.age' placeholder='Ingresa edad' class='form-control' required />

      <div class='error' ng-show="calories_form.weight.$dirty && calories_form.weight.$invalid">
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        Requerido: numérico
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="adult_calories" tooltip="kcal" tooltip-placement="left">Calorias extra segun la edad</label>
      <select name="adult_calories" class="form-control" ng-model="person.adultCalories", ng-options='a.calories as a.quarter for a in adultCalories'></select>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Categoria</th>
            <th>NAF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sedentario o estilo de vida con actividad ligera.</td>
            <td>1.40-1.69</td>
          </tr>
          <tr>
            <td>Activo o estilo de vida  con actividad moderada</td>
            <td>1.70- 1.99</td>
          </tr>
          <tr>
            <td>Vigoroso o estilo de vida con actividad vigorosa </td>
            <td>2.00- 2.40</td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>

    <div class="form-group has-feedback" ng-class="{ 'has-error': calories_form.physical_activity.$invalid }">
      <label class="control-label" for="physical_activity">Actividad física</label>
      <input type='number' step='.1' name='physical_activity' ng-model='person.physicalActivity' placeholder='Ingresa Actividad física' class='form-control' required />

      <div class='error' ng-show="calories_form.physical_activity.$dirty && calories_form.physical_activity.$invalid">
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        Requerido: numérico
      </div>
    </div>
  </div>

  <div class="form-group">
    <div ng-show="person.type == 'teenager'">
      <label class="control-label" for="teenager_calories" tooltip="kcal" tooltip-placement="left">Calorias extra segun la edad</label>
      <select class="form-control" ng-model="person.teenagerCalories", ng-options='a.calories as a.age for a in teenagerCalories'></select>
    </div>
  </div>

  <div class="form-group has-feedback" ng-class="{ 'has-error': calories_form.weight.$invalid }">
    <label class="control-label" tooltip="kg" tooltip-placement="left" for="weight">Peso previo al embarazo</label>
    <input type='number' step='.1' name='weight' ng-model='person.weightBeforePregnancy' placeholder='Ingresa peso' class='form-control' required />

    <div class='error' ng-show="calories_form.weight.$dirty && calories_form.weight.$invalid">
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      Requerido: numérico
    </div>
  </div>



  <div class="form-group">
    <h3>
      Total de calorías <code>{{result}}</code>
    </h3>
  </div>
  <hr>

</form>
