<form name='imc_form' role='form'>
  <h2 class="ns-title">Antropometría previo a la gestación</h2>

  <div class="form-group has-feedback" ng-class="{ 'has-error': imc_form.weight.$invalid }">
    <label class="control-label" tooltip="kg" tooltip-placement="left" for="weight">Peso previo al embarazo</label>
    <input type='number' step='.1' name='weight' ng-model='person.weightBeforePregnancy' placeholder='Ingresa peso' class='form-control' required />

    <div class='error' ng-show="imc_form.weight.$dirty && imc_form.weight.$invalid">
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      Requerido: numérico
    </div>
  </div>

  <div class="form-group has-feedback" ng-class="{ 'has-error': imc_form.height.$invalid }">
    <label class="control-label" tooltip="cm" tooltip-placement="left" for="height">Talla</label>
    <input type='number' step='.1' name='height' ng-model='person.height' placeholder='Ingresa altura' class='form-control' required/>

    <div class='error' ng-show="imc_form.height.$dirty && imc_form.height.$invalid">
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      Requerido: numérico
    </div>
  </div>

  <div class="form-group">
    <h3>
      IMC previo al embarazo <code>{{person.bmi}}</code>
    </h3>
  </div>
  <hr>

  <h2 class="ns-title">Peso esperado</h2>

  <div class="form-group">
    <h4>Semanas de gestación <span class="label label-warning">{{person.weightBeforePregnancy}}</span></h4>
  </div>

  <div class="form-group">
    <h4>IMC previo al embarazo <span class="label label-warning">{{person.bmi}}</span></h4>
  </div>

  <div class="form-group has-feedback" ng-class="{ 'has-error': imc_form.age.$invalid }">
    <label class="control-label" for="number_of_weeks">Semanas de gestación</label>
    <input type='number' step='.1' name='number_of_weeks' ng-model='person.numberOfWeeks' placeholder='Ingresa número de semanas' class='form-control' required/>

    <div class='error' ng-show="imc_form.age.$dirty && imc_form.age.$invalid">
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      Requerido: numérico
    </div>
  </div>

  <div class="form-group">
    <h3>
      Peso esperado: <code>{{result}}</code>
    </h3>
  </div>

</form>
