<ui-view class="view-frame">
<div class="ns-card">
  <div class="ns-card-header">
    <h1>Embarazo</h1>
  </div>
  <div class="ns-card-body">
    <a class="btn btn-default ns-button ns-green " ui-sref="root.pregnant.clinical_history"><span>Historia clínica</span></a>
    <a class="btn btn-default ns-button ns-red" ui-sref="root.pregnant.lab_studies"><span>Estudios de Laboratorio</span></a>
    <a class="btn btn-default ns-button ns-blue" ui-sref="root.pregnant.expected_weight"><span>Antropometría</span></a>
    <a class="btn btn-default ns-button ns-yellow" ui-sref="root.pregnant.calories"><span>Cálculo de Calorías</span></a>
    <a class="btn btn-default ns-button ns-black" ui-sref="root.pregnant.rations"><span>Cálculo de Raciones</span></a>
  </div>
</div>
