<ui-view>
<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class='text-right'>Embarazo</h1>
  </div>
  <div class="panel-body">
    <a class="btn btn-default ns-button" ui-sref="root.pregnant.clinical_history">Historia clínica</a>
    <a class="btn btn-default ns-button" ui-sref="root.pregnant.lab_studies">Estudios de Laboratorio</a>
    <a class="btn btn-default ns-button" ui-sref="root.pregnant.expected_weight">Antropometría</a>
    <a class="btn btn-default ns-button" ui-sref="root.pregnant.calories">Cálculo de Calorías</a>
    <a class="btn btn-default ns-button" ui-sref="root.pregnant.rations">Cálculo de Raciones</a>
  </div>
</div>
