<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Indicadores Bioquímicos</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr class="active">
          <th>Determinación</th>
          <th>Rangos normales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Ácido úrico en suero</th>
          <td>2.0 a 3.0 mg/dL (a 24 semanas)</td>
        </tr>
        <tr>
          <th>Nitrógeno ureico en suero</th>
          <td>8.0 a 9.0 g/dL</td>
        </tr>
        <tr>
          <th>Creatinina en suero o plasma</th>
          <td>0.5 a 0.6 mg/dL</td>
        </tr>
        <tr>
          <th>Depuración de creatinina</th>
          <td>Se incrementa 50% del nivel previo al embarazo:87 a 107 ml/min</td>
        </tr>
        <tr>
          <th rowspan="2">Colesterol Total en suero</th>
          <td>Segundo trimestre:251 más menos 8 mg/dL</td>
        </tr>
        <tr>
          <td>Tercer Trimestre: 259 más menos 13 mg/dL</td>
        </tr>
        <tr>
          <th rowspan="2">Triglicéridos en suero</th>
          <td>Segundo trimestre:185 más menos 22 mg/dL</td>
        </tr>
        <tr>
          <td>Tercer Trimestre: 224 más menos 24 mg/dL</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Biometría hemática</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr class="active">
          <th>Determinación</th>
          <th>Rangos normales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="2">Hemoglobina en sangre</th>
          <td>Segundo trimestre e inicio del tercero: disminuye a un valor entre 10 y 13 g/dL</td>
        </tr>
        <tr>
          <td>Término del tercer trimestre: regresa al valor previo del embarazo: 13 a 15 g/dL</td>
        </tr>
        <tr>
          <th rowspan="2">Hematócrito en sangre</th>
          <td>Segundo trimestre e inicio del tercero: disminuye a un valor entre 32.5 y 41 %</td>
        </tr>
        <tr>
          <td>Término del tercer trimestre: regresa al valor previo del embarazo: 37 a 48 %</td>
        </tr>
        <tr>
          <th>Recuento de leucocitos en suero</th>
          <td>Segundo y Tercer trimestres: 10 500 mm<sup>3</sup></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Diagnóstico de anemia</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr class="active">
          <th rowspan="2">Edad de Gestación</th>
          <th colspan="2">Puntos de corte</th>
        </tr>
        <tr>
          <th>Hemoglobina (&#60g/dL) </th>
          <th>Hematócrito (&#60%) </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">Semana</td>
        </tr>
        <tr>
          <td>12</td>
          <td>11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>16</td>
          <td>10.6</td>
          <td>32</td>
        </tr>
        <tr>
          <td>20</td>
          <td>10.5</td>
          <td>32</td>
        </tr>
        <tr>
          <td>24</td>
          <td>10.5</td>
          <td>32</td>
        </tr>
        <tr>
          <td>28</td>
          <td>10.7</td>
          <td>32</td>
        </tr>
        <tr>
          <td>32</td>
          <td>11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>36</td>
          <td>11.4</td>
          <td>34</td>
        </tr>
        <tr>
          <td>40</td>
          <td>11.9</td>
          <td>36</td>
        </tr>
        <tr>
          <td colspan="3">Trimestre</td>
        </tr>
        <tr>
          <td>Primero</td>
          <td>11</td>
          <td>33</td>
        </tr>
        <tr>
          <td>Segundo</td>
          <td>10.5</td>
          <td>32</td>
        </tr>
        <tr>
          <td>Tercero</td>
          <td>11</td>
          <td>33</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Diagnóstico de Diabetes  de la gestación</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr class="active">
          <th colspan="2">Paso</th>
          <th>Valores de Referencia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Prueba de desafío de la glucosa: glucosa en plasma o suero1 hora después de una carga de glucosa oral de 50g</td>
          <td>Si el resultado es >140 mg/dL, realizar el paso 2</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Prueba de tolerancia a la glucosa oral: glucosa en plasma o suero en ayuno 1, 2 y 3 horas despues de una carga de glucosa oral de 100g.</td>
          <td>Ayuno= 95 mg/dL, 1 hora= 180 mg/dL, 2 horas=155 mg/dL, 3 horas = 140 mg/dL. Dos o más de las concentraciones en plasma deben coincidir o exceder para un diagnóstico positivo.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

