<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Química Sanguínea</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Determinación</th>
          <th>Rangos normales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Albúmina en suero</td>
          <td>2.9 a 5.5 g/dL</td>
        </tr>
        <tr>
          <td>Calcio en sagre ionizada</td>
          <td>0.90 a 1.45 mmol/L</td>
        </tr>
        <tr>
          <td rowspan="2">Calcio en suero</td>
          <td>Prematuro: 6 a 10 mg/dL</td>
        </tr>
        <tr>
          <td>A término 7 a 12 mg/dL</td>
        </tr>
        <tr>
          <td>Colesterol total en suero</td>
          <td>50 a 120 mg/dL</td>
        </tr>
        <tr>
          <td>Creatinina en suero</td>
          <td>0.2 a 1.2 mg/dL</td>
        </tr>
        <tr>
          <td>Folato en suero</td>
          <td>2 a 12 ng/ml</td>
        </tr>
        <tr>
          <td rowspan="3">Fósforo en suero</td>
          <td>Prematuro: 5.6 a 8 mg/dL</td>
        </tr>
        <tr>
          <td>A término 5 a 7.8 mg/dL</td>
        </tr>
        <tr>
          <td>4.8 a 8.1 mg/dL</td>
        </tr>
        <tr>
          <td>Hierro total en suero</td>
          <td>55 a 150 microgramos/dL</td>
        </tr>
        <tr>
          <td>Magnesio</td>
          <td>0.71 a 0.96 mmol/L</td>
        </tr>
        <tr>
          <td>Potasio en suero</td>
          <td>4.5 a 7 mmol/L</td>
        </tr>
        <tr>
          <td rowspan="2">Prealbúmina en suero</td>
          <td>0 a 1 semana: 4 a 22 mg/dL</td>
        </tr>
        <tr>
          <td>1 a 6 semanas: 9 a 27 mg/dL</td>
        </tr>
        <tr>
          <td>Proteína total en suero</td>
          <td>4.4 a 7.6 g/dL</td>
        </tr>
        <tr>
          <td rowspan="2">Sodio en suero</td>
          <td>Prematuro: 132 a 140 mmol/L</td>
        </tr>
        <tr>
          <td>A término: 133 a 142 mmol/L</td>
        </tr>
        <tr>
          <td>Triglicéridos</td>
          <td>20 a 150 mg/dL</td>
        </tr>
        <tr>
          <td>Urea</td>
          <td>1.3 a 5.1 mmol/L</td>
        </tr>
      </tbody>
    </table>
    <span class="help-block">* Bemedict y colaboradores, 2004</span>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Biometría hemática</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Prueba</th>
          <th>Unidad</th>
          <th>Nacimiento</th>
          <th>1 semana</th>
          <th>1 mes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Concentración de hemoglobina corpuscular media</td>
          <td>0%</td>
          <td>32 a 36</td>
          <td>32 a 36</td>
          <td>32 a 36</td>
        </tr>
        <tr>
          <td>Eósinofilos</td>
          <td>x10 a la 9/L</td>
          <td>0.1 a 1.1</td>
          <td>0.1 a 1.1</td>
          <td>0.1 a 1.1</td>
        </tr>
        <tr>
          <td>Hematócrito</td>
          <td>0%</td>
          <td>47 a 62</td>
          <td>42 a 62</td>
          <td>30 a 48</td>
        </tr>
        <tr>
          <td>Hemoglobina</td>
          <td>g/dL</td>
          <td>14 a 22.5</td>
          <td>13.5 a 20.5</td>
          <td>10.0 a 13.0</td>
        </tr>
        <tr>
          <td>Hemoglobina corpuscular media</td>
          <td>pg</td>
          <td>31 a 37</td>
          <td>28 a 40</td>
          <td>24 a 36</td>
        </tr>
        <tr>
          <td>Leucocitos</td>
          <td>x 10 a la 9/L</td>
          <td>9 a 30</td>
          <td>5 a 21</td>
          <td>5 a 19</td>
        </tr>
        <tr>
          <td>Linfocitos</td>
          <td>x 10 a la 9/L</td>
          <td>2 a 11</td>
          <td>2 a 17</td>
          <td>2 a 13</td>
        </tr>
        <tr>
          <td>Monocitos</td>
          <td>x 10 a la 9/L</td>
          <td>0.1 a 1.7</td>
          <td>0.1 a 1.7</td>
          <td>0.1 a 1.7</td>
        </tr>
        <tr>
          <td>Neutrófilos</td>
          <td>x 10 a la 9/L</td>
          <td>150 a 600</td>
          <td>150 a 600</td>
          <td>150 a 600</td>
        </tr>
        <tr>
          <td>Volumen corpuscular medio</td>
          <td>fl</td>
          <td>100 a 135</td>
          <td>100 a 120</td>
          <td>84 a 105</td>
        </tr>
      </tbody>
    </table>
    <span class="help-block">* Kilham e Isaacs, 2004.</span>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Examen General de Orina</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Creatinina en Orina</td>
          <td>0.8 a 2.8 g/24 h</td>
        </tr>
      </tbody>
    </table>
    <span class="help-block">* Benedict y colaboradores, 2004.</span>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Signos que indican o sugieren desnutrición</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Característica</th>
          <th>Apariencia normal</th>
          <th>Signos relacionados con desnutrición</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pelo</td>
          <td>Con brillo, firme y difícil de desprender.</td>
          <td>Falta de brillo natural, reseco, delgado, con cambios de color (signo de bandera) y se desprende con facilidad</td>
        </tr>
        <tr>
          <td>Cara</td>
          <td>De color uniforme rosada, de apariencia saludable.</td>
          <td>Pérdida del color (despigmentación), piel oscurecida bajo los ojos y los pómulos (pigmentación malar y supraorbital), adelgazamiento de boca y nariz, agrandamiento de glándulas carótidas, pérdida de panículos de Bichat, seborrea nasolabial.</td>
        </tr>
        <tr>
          <td>Ojos</td>
          <td>Con brillo, claros, sin lesiones en los ángulos de los párpados, membranas saludables y rosadas. Sin vasos sanguíneos prominentes en la esclerótica.</td>
          <td>Conjuntiva pálida, enrojecimiento de conjuntivas, manchas de Bicot, palpebritis angular, xerosis corneal, queratomalacia, lesiones en córnea, inyección circuncorneal.</td>
        </tr>
        <tr>
          <td>Labios</td>
          <td>Sin inflamación.</td>
          <td>Enrojecidos, inflamados (queilosis),  lesiones en los angúlos de los labios.</td>
        </tr>
        <tr>
          <td>Lengua</td>
          <td>Roja, sin inflamación.</td>
          <td>Inflamada de color magenta, con lesiones, papilas hiperéremicas e hipertrofiadas, papilas atrofiadas.</td>
        </tr>
        <tr>
          <td>Dientes</td>
          <td>Sin cavidades ni manchas, con brillo.</td>
          <td>Erupción anormal, manchas grises o negras (fluorosis, caries).</td>
        </tr>
        <tr>
          <td>Encías</td>
          <td>Saludables rojas, sin sangrados ni inflamación.</td>
          <td>Sangran con facilidad, recesión de encías.</td>
        </tr>
        <tr>
          <td>Cuello</td>
          <td>Cuello sin inflamación.</td>
          <td>Agrandamiento de tiroides (frente al cuello), agrandamiento de paratiroides.</td>
        </tr>
        <tr>
          <td>Piel</td>
          <td>Sin signos de manchas, sin inflamación y sin manchas.</td>
          <td>Xerosis, hiperqueratosis folicular, adelgazamiento de la piel, inflamación y oscurecimiento, pigmentación rojiza en áreas expuestas (dermatosis pelagrosa), despigmentación, petequias, carencia de tejido de tejido graso subcútaneo.</td>
        </tr>
        <tr>
          <td>Uñas</td>
          <td>Firmes.</td>
          <td>Coinloniquia, quiebradizas, blandas.</td>
        </tr>
        <tr>
          <td>Sistema músculo esquelético</td>
          <td>Buen tono muscular, con depósito de grasa subcútanea, se puede correr y caminar y sin dolor.</td>
          <td>Desgaste muscular, craneotabes, inflamación a los dos lados y en la parte frontal de la cabeza, agrandamiento epifacial, protuberancias pequeñas en ambos lados de las costillas, fontanelas sin cerrar, “piernas en sable”, hemorragias musculoesqueléticas.</td>
        </tr>
        <tr>
          <td>Sistema Cardiovascular</td>
          <td>Frecuencia y ritmo cardiaco normales, presión sanguínea normal.</td>
          <td>Taquicardia, cardiomegalia, ritmo anormal, presión sanguínea elevada.</td>
        </tr>
        <tr>
          <td>Sistema gastrointestinal</td>
          <td>Órganos o masas no palpables ( en niños sí puede llegar a palparse algunos órganos).</td>
          <td>Coiloniquia, quebradizas blandas.</td>
        </tr>
        <tr>
          <td>Sistema nervioso</td>
          <td>Estabilidad sicológica, reflejos normales.</td>
          <td>Irritabilidad mental y confusión, parestesia, pérdida de sentido de posición  y vibración, debilidad y tremor muscular (llegando a imposibilitar la caminata), disminución de los reflejos.</td>
        </tr>
      </tbody>
    </table>
    <span class="help-block">* Gibson 1990.</span>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Signos diferenciales entre keashiorkor y marasmo</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Característica</th>
          <th>Kwashiorkor</th>
          <th>Marasmo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Crecimeitno insificiente</td>
          <td>Presente</td>
          <td>Presente</td>
        </tr>
        <tr>
          <td>Emaciación</td>
          <td>Presente</td>
          <td>Presente, notoria</td>
        </tr>
        <tr>
          <td>Edema</td>
          <td>Presente (algunas veces)</td>
          <td>Ausente</td>
        </tr>
        <tr>
          <td>Cambios en el cabello</td>
          <td>Común</td>
          <td>Menos común</td>
        </tr>
        <tr>
          <td>Cambios mentales</td>
          <td>Muy común</td>
          <td>Raros</td>
        </tr>
        <tr>
          <td>Dermatosis, copos de pintura</td>
          <td>Común</td>
          <td>No ocurre</td>
        </tr>
        <tr>
          <td>Apetito</td>
          <td>Malo</td>
          <td>Bueno</td>
        </tr>
        <tr>
          <td>Anemia</td>
          <td>Grave (algunas veces)</td>
          <td>Presente, menos grave</td>
        </tr>
        <tr>
          <td>Grasa subcutánea</td>
          <td>Reducida pero presente</td>
          <td>Ausente</td>
        </tr>
        <tr>
          <td>Rostro</td>
          <td>Puede ser edematoso</td>
          <td>Macilento, cara de mono</td>
        </tr>
        <tr>
          <td>Inflitración grasa hacia el hígado</td>
          <td>Presente</td>
          <td>Ausente</td>
        </tr>
      </tbody>
    </table>
    <span class="help-block">* FAO 2002</span>
  </div>
</div>
