<ui-view class="view-frame">
<div class="ns-card animated fadeInUp">
  <div class="ns-card-header">
    <h1>Diálisis</h1>
  </div>
  <div class="ns-card-body row">
    <!-- <div class="col-md-4 col-sm-6 col-xs-12">
      <a class="btn btn-default ns-button ns-green" ui-sref="root.kidney_failure.dialysis.clinical_history"><span>Historia clínica</span></a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a class="btn btn-default ns-button ns-yellow" ui-sref="root.kidney_failure.dialysis.calories"><span>Cálculo de Calorías</span></a>
    </div> -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a class="btn btn-default ns-button ns-red" ui-sref="root.kidney_failure.dialysis.lab_studies"><span>Estudios de Laboratorio</span></a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a class="btn btn-default ns-button ns-blue" ui-sref="root.kidney_failure.dialysis.anthropometry"><span>Antropometría</span></a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a class="btn btn-default ns-button ns-black" ui-sref="root.kidney_failure.dialysis.rations"><span>Cálculo de Raciones</span></a>
    </div>
  </div>
</div>
