<div class="ns-card">
  <div class="ns-card-header ns-title">
    <h2>Gráficas de Crecimiento</h2>
  </div>
  <div class="ns-card-body">
    <section class="anthropometry-graphics">

      <div class="form-group">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-model="genderFilter" btn-radio="'boy'">Niño</button>
          <button type="button" class="btn btn-primary" ng-model="genderFilter" btn-radio="'girl'"> Niña</button>
        </div>
      </div>

      <div class="form-group">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-model="typeFilter" btn-radio="'percentile'">Percentil</button>
          <button type="button" class="btn btn-primary" ng-model="typeFilter" btn-radio="'zscore'">Puntaje z</button>
        </div>
      </div>

      <div ng-switch on="genderFilter">
        <div ng-switch-when="boy">
          <div ng-switch on="typeFilter">
            <div ng-switch-when="percentile">
              <ul>
                <li>
                  <a href="" ng-click="showImage('longitud_6_meses_a_2_anios')">Longitud 6 meses a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('longitud_nacimiento_a_2_anios')">Longitud nacimiento a 2 años</a>
                </li>
                <li>
                 <a href="" ng-click="showImage('longitud_nacimiento_a_6_meses')">Longitud nacimiento a 6 meses</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('perimetro_cefalico_nacimiento_a_2_anios')">Perímetro cefálico nacimiento a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('perimetro_cefalico_nacimiento_a_13_semanas')">Perímetro cefálico nacimiento a 13 semanas</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_6_meses_a_2_anios')">Peso 6 meses a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_nacimiento_a_2_anios')">Peso nacimiento a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_nacimiento_a_6_meses')">Peso nacimiento a 6 meses</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso-longitud_nacimiento_a_2_anios')">Peso longitud nacimiento a 2 años</a>
                </li>
              </ul>
            </div>

            <div ng-switch-when="zscore">
              <ul>
                <li>
                  <a href="" ng-click="showImage('peso_nacimiento_2_anios')">Peso a nacimiento 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('0_a_6_meses')">0 a 6 meses</a>
                </li>
                <li>
                 <a href="" ng-click="showImage('longitud_6_meses_a_2_anios')">Longitud 6 meses a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('longitud_nacimiento_a_2_anios')">Longitud nacimiento a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('perimetro_cefalico_nacimiento_a_2_anios')">Perímetro cefálico nacimiento a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('perimetro_cefalico_nacimiento_a_13_semanas')">Perímetro cefálico nacimiento a 13 semanas</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_6_meses_a_2_anios')">Peso 6 meses a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_nacimiento_a_6_meses')">Peso nacimiento a 6 meses</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso-longitud_nacimiento_a_2_anios')">Peso longitud nacimiento a 2 años</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div ng-switch-when="girl">
          <div ng-switch on="typeFilter">
            <div ng-switch-when="percentile">
              <ul>
                <li>
                  <a href="" ng-click="showImage('6_meses_a_2_anios')">6 meses a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('longitud_nacimiento_a_2_anios')">Longitud nacimiento a 2 años</a>
                </li>
                <li>
                 <a href="" ng-click="showImage('longitud_nacimiento_a_6_meses')">Longitud nacimiento a 6 meses</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('perimetro_cefalico_nacimiento_a_2_anios')">Perímetro cefálico nacimiento a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('perimetro_cefalico_nacimiento_a_13_semanas')">Perímetro cefálico nacimiento a 13 semanas</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_6_meses_a_2_anios')">Peso 6 meses a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_nacimiento_a_2_anios')">Peso nacimiento a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_nacimiento_a_6_meses')">Peso nacimiento a 6 meses</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso-longitud_nacimiento_a_2_anios')">Peso longitud nacimiento a 2 años</a>
                </li>
              </ul>
            </div>

            <div ng-switch-when="zscore">
              <ul>
                <li>
                  <a href="" ng-click="showImage('0_a_6_meses')">0 a 6 meses</a>
                </li>
                <li>
                 <a href="" ng-click="showImage('longitud_6_meses_a_2_anios')">Longitud 6 meses a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('longitud_nacimiento_a_2_anios')">Longitud nacimiento a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('perimetro_cefalico_nacimiento_a_2_anios')">Perímetro cefálico nacimiento a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('perimetro_cefalico_nacimiento_a_13_semanas')">Perímetro cefálico nacimiento a 13 semanas</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_6_meses_a_2_anios')">Peso 6 meses a 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_nacimiento_a_2_anios')">Peso a nacimiento 2 años</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso_nacimiento_a_6_meses')">Peso nacimiento a 6 meses</a>
                </li>
                <li>
                  <a href="" ng-click="showImage('peso-longitud_nacimiento_a_2_anios')">Peso longitud nacimiento a 2 años</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>

<div class="ns-card">
  <div class="ns-card-header ns-title">
    <h2>Porcentaje de peso de acuerdo con la edad (%PEd)</h2>
  </div>
  <div class="ns-card-body">
    <section class="anthropometry-graphics row">

      <form name="ped_form" role="form" class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error': ped_form.weight.$invalid }">
          <label class="control-label" for="weight">Peso</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon">kg</span>
            <input type='number' step='.1' name='weight' ng-model='person.weight' placeholder='Ingresa peso' class='form-control' required />
          </div>
          <div class='error' ng-show="ped_form.weight.$dirty && ped_form.weight.$invalid">
            * Requerido: Numerico
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': ped_form.reference_weight.$invalid }">
          <label class="control-label" for="reference_weight">Peso de Referencia</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon">kg</span>
            <input type='number' step='.1' name='reference_weight' ng-model='person.referenceWeight' placeholder='Ingresa peso de referencia' class='form-control' required />
          </div>
          <p class="help-block">* Consultar Gráfica</p>
          <div class='error' ng-show="ped_form.reference_weight.$dirty && ped_form.reference_weight.$invalid">
            * Requerido: Numerico
          </div>
        </div>
      </form>

      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Porcentaje</th>
              <th>Interpretación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>> 90</td>
              <td>Normal</td>
            </tr>
            <tr>
              <td>76 a 90</td>
              <td>Desnutrición de primer grado</td>
            </tr>
            <tr>
              <td>60 a 75</td>
              <td>Desnutrición de segundo grado</td>
            </tr>
            <tr>
              <td>< 60</td>
              <td>Desnutrición de tercer grado</td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>
    <h3>
      Porcentaje de peso de acuerdo con la edad: <code>{{person.ped | number:2}}%</code>
    </h3>
  </div>
</div>

<div class="ns-card">
  <div class="ns-card-header ns-title">
    <h2>Porcentaje de longitud de acuerdo con la edad (%LE)</h2>
  </div>
  <div class="ns-card-body">
    <section class="anthropometry-graphics row">

      <form name="le_form" role="form" class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error': le_form.height.$invalid }">
          <label class="control-label" for="height">Talla</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon">cm</span>
            <input type='number' step='.1' name='height' ng-model='person.height' placeholder='Ingresa talla' class='form-control' required />
          </div>
          <div class='error' ng-show="le_form.height.$dirty && le_form.height.$invalid">
            * Requerido: Numerico
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': le_form.reference_height.$invalid }">
          <label class="control-label" for="reference_height">Talla de Referencia</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon">cm</span>
            <input type='number' step='.1' name='reference_height' ng-model='person.referenceHeight' placeholder='Ingresa talla de referencia' class='form-control' required />
          </div>
          <p class="help-block">* Consultar Gráfica</p>
          <div class='error' ng-show="le_form.reference_height.$dirty && le_form.reference_height.$invalid">
            * Requerido: Numerico
          </div>
        </div>
      </form>

      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Porcentaje</th>
              <th>Interpretación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>> 95</td>
              <td>Normal</td>
            </tr>
            <tr>
              <td>90 a 95</td>
              <td>Retraso en el crecimiento leve</td>
            </tr>
            <tr>
              <td>85 a 89</td>
              <td>Retras en el crecimiento moderado</td>
            </tr>
            <tr>
              <td>< 85</td>
              <td>Retraso en el crecimiento grave</td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>
    <h3>
      Porcentaje de longitud de acuerdo con la edad: <code>{{person.le | number:2}}%</code>
    </h3>
  </div>
</div>


<div class="ns-card">
  <div class="ns-card-header ns-title">
    <h2>Porcentaje de peso de acuerdo con la longitud (%PL)</h2>
  </div>
  <div class="ns-card-body">
    <section class="anthropometry-graphics row">

      <form name="bmi_form" role="form" class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error': bmi_form.bmi.$invalid }">
          <label class="control-label" for="bmi">Índice de Masa Corporal</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><sup>kg</sup>&frasl;<sub>m<sup>2</sup></sub></span>
            <input type='number' step='.1' name='bmi' ng-model='person.bmi' placeholder='Ingresa IMC' class='form-control' required />
          </div>
          <div class='error' ng-show="bmi_form.bmi.$dirty && bmi_form.bmi.$invalid">
            * Requerido: Numerico
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': bmi_form.reference_bmi.$invalid }">
          <label class="control-label" for="reference_bmi">IMC de Referencia</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><sup>kg</sup>&frasl;<sub>m<sup>2</sup></sub></span>
            <input type='number' step='.1' name='reference_bmi' ng-model='person.referenceBmi' placeholder='Ingresa IMC de referencia' class='form-control' required />
          </div>
          <p class="help-block">* Consultar Gráfica</p>
          <div class='error' ng-show="bmi_form.reference_bmi.$dirty && bmi_form.reference_bmi.$invalid">
            * Requerido: Numerico
          </div>
        </div>
      </form>

      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Porcentaje</th>
              <th>Interpretación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>> 90</td>
              <td>Normal</td>
            </tr>
            <tr>
              <td>80 a 90</td>
              <td>Emaciación leve</td>
            </tr>
            <tr>
              <td>70 a 79</td>
              <td>Emaciación moderada</td>
            </tr>
            <tr>
              <td>< 70</td>
              <td>Emaciación grave</td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>
    <h3>
      Porcentaje de peso de acuerdo con la longitud: <code>{{person.pl | number:2}}%</code>
    </h3>
  </div>
</div>



