<header>
  <div class='container'>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="root">Nutrisol <3</a>
        </div>
        <div class='navbar-right'>
          <a class='btn btn-info' ng-click='openAboutModal()'>
            <span class="glyphicon glyphicon-question-sign"></span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <div class="form-group">
        <ul class="nav nav-pills nav-stacked">
          <li ui-sref-active="active"><a ui-sref="root.teenager">Adolescente</a></li>
          <li ui-sref-active="active"><a ui-sref="root.adult">Adulto</a></li>
          <li ui-sref-active="active"><a ui-sref="root.elderly">Adulto mayor</a></li>
          <li ui-sref-active="active"><a ui-sref="root.dialysis">Diálisis</a></li>
          <li ui-sref-active="active"><a ui-sref="root.pregnant">Embarazo</a></li>
          <li ui-sref-active="active"><a ui-sref="root.scholar">Escolar</a></li>
          <li ui-sref-active="active"><a ui-sref="root.hemodialysis">Hemodiálisis</a></li>
          <li ui-sref-active="active"><a ui-sref="root.infant">Lactante</a></li>
          <li ui-sref-active="active"><a ui-sref="root.predialytic">Prediálitico</a></li>
          <li ui-sref-active="active"><a ui-sref="root.preschool">Preescolar</a></li>
          <li ui-sref-active="active"><a ui-sref="root.newborn">Recién nacido</a></li>
        </ul>
      </div>
    </div>
    <div class='col-md-9'>
      <div ui-view></div>
  </div>
</div>
