<header>
  <div class='container'>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-href="/">Nutrisol <3</a>
        </div>
        <div class='navbar-right'>
          <a class='btn btn-info' ng-click='openAboutModal()'>
            <span class="glyphicon glyphicon-question-sign"></span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="genderFilter" btn-radio="'hombres'">Hombres</button>
        <button type="button" class="btn btn-primary" ng-model="genderFilter" btn-radio="'mujeres'">Mujeres</button>
      </div>
    </div>
    <div class='col-md-9'>
      <form name="tmb_form" role="form">
        <div class="form-group" ng-class="{ 'has-error': tmb_form.height.$invalid }">
          <label class="control-label" for="height">Height</label>
          <input type='number' name='height' ng-model='person.height' placeholder='Enter height' class='form-control' ng-pattern='/^\d+$/' required/>
          <div class='error' ng-show="tmb_form.height.$dirty && tmb_form.height.$invalid">
            Must be a number
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': tmb_form.weight.$invalid }">
          <label class="control-label" for="weight">Weight</label>
          <input type='number' name='weight' ng-model='person.weight' placeholder='Enter weight' class='form-control' ng-pattern='/^\d+$/' required />
          <div class='error' ng-show="tmb_form.weight.$dirty && tmb_form.weight.$invalid">
            Must be a number
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': tmb_form.age.$invalid }">
          <label class="control-label" for="age">Age</label>
          <input type='number' name='age' ng-model='person.age' placeholder='Enter age' class='form-control' ng-pattern='/^[0-9]+$/' required/>
          <div class='error' ng-show="tmb_form.age.$dirty && tmb_form.age.$invalid">
            Must be a number
          </div>
        </div>
        <div class="form-group">
          <h1>
            <code>{{result}}</code>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
