<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header col-md-3">
        <a class="navbar-brand" ui-sref="root">Nutrisol <3</a>
      </div>
      <div ng-show="currentSection.indexOf('root.') != -1">
        <div ncy-breadcrumb></div>
      </div>
      <a id="ns-btn-about" class='btn btn-info' ng-click='openAboutModal()'>
        <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </div>
  </nav>
</header>

<div class='container'>
  <div class='row'>
    <div class='col-md-3 ns-main-sidebar'>
      <div class="form-group">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="{ 'active': currentSection.indexOf('pregnant') != -1 }"><a ui-sref="root.pregnant">Embarazo</a></li>
          <li ng-class="{ 'active': currentSection.indexOf('newborn') != -1 }"><a ui-sref="root.newborn">Recién nacido</a></li>
          <li ng-class="{ 'active': currentSection.indexOf('infant') != -1 }"><a ui-sref="root.infant">Lactante</a></li>
          <li ng-class="{ 'active': currentSection.indexOf('preschool') != -1 }"><a ui-sref="root.preschool">Preescolar</a></li>
          <li ng-class="{ 'active': currentSection.indexOf('scholar') != -1 }"><a ui-sref="root.scholar">Escolar</a></li>
          <li ng-class="{ 'active': currentSection.indexOf('teenager') != -1 }"><a ui-sref="root.teenager">Adolescente</a></li>
          <li ng-class="{ 'active': currentSection.indexOf('adult') != -1 }"><a ui-sref="root.adult">Adulto</a></li>
          <li ng-class="{ 'active': currentSection.indexOf('elderly') != -1 }"><a ui-sref="root.elderly">Adulto mayor</a></li>
          <li ng-class="{ 'active': currentSection.indexOf('kidney_failure') != -1 }"><a ui-sref="root.kidney_failure">Insuficiencia Renal</a></li>
        </ul>
      </div>
    </div>
    <div class='col-md-9 ns-main-container'>
      <div ng-show="currentSection == 'root'">
        <blockquote class="ns-main-quote">
          <p>{{currentQuote}}</p>
        </blockquote>
      </div>
      <div class="view-container">
        <div ui-view class="view-frame"></div>
      </div>
  </div>
</div>
