<div class="ns-card">
  <div class="ns-card-body">
    <form name="tmb_form" role="form">
      <div class="form-group">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-model="genderFilter" btn-radio="'male'">Hombres</button>
          <button type="button" class="btn btn-primary" ng-model="genderFilter" btn-radio="'female'">Mujeres</button>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': tmb_form.height.$invalid }">
        <label class="control-label" for="height">Talla</label>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">cm</span>
          <input type='number' name='height' ng-model='person.height' placeholder='Ingresa Talla' class='form-control' required/>
        </div>
        <div class='error' ng-show="tmb_form.height.$dirty && tmb_form.height.$invalid">
          * Requerido: Numerico
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': tmb_form.weight.$invalid }">
        <label class="control-label" for="weight">Peso</label>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">kg</span>
          <input type='number' name='weight' ng-model='person.weight' placeholder='Ingresa peso' class='form-control' required />
        </div>
        <div class='error' ng-show="tmb_form.weight.$dirty && tmb_form.weight.$invalid">
          * Requerido: Numerico
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': tmb_form.age.$invalid }">
        <label class="control-label" for="age">Edad</label>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">Años</span>
          <input type='number' name='age' ng-model='person.age' placeholder='Ingresa edad' class='form-control' ng-pattern='/^[0-9]+$/' required/>
        </div>
        <div class='error' ng-show="tmb_form.age.$dirty && tmb_form.age.$invalid">
          * Requerido: Numerico
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': tmb_form.physical_activity.$invalid }">
        <label class="control-label" for="physical_activity">Actividad Física</label>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">%</span>
          <input type='number' name='physical_activity' ng-model='person.physicalActivity' placeholder='Ingresa porcentaje de actividad física' class='form-control' required />
        </div>
        <div class='error' ng-show="tmb_form.physical_activity.$dirty && tmb_form.physical_activity.$invalid">
          * Requerido: Numerico
        </div>
      </div>
    </form>
  </div>
</div>

<div class="ns-card">
  <div class="ns-card-body">
    <div class="form-group">
      <h3>
        IMC: <code>{{person.bmi | number:2}} <sup>kg</sup>&frasl;<sub>m<sup>2</sup></sub></span></code>
      </h3>
      <h3>
        Calorías: <code>{{person.tmb | number:2}} kcal</code>
      </h3>
      <h3>
        Total de calorias: <code>{{person.totalCalories | number:2}} kcal</code>
      </h3>
    </div>
  </div>
</div>
