<ui-view>
<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class='text-right'>Adulto</h1>
  </div>
  <div class="panel-body">
    <a class="btn btn-default ns-button" ui-sref="root.adult.clinical_history">Historia clínica</a>
    <a class="btn btn-default ns-button" ui-sref="root.adult.lab_studies">Estudios de Laboratorio</a>
    <a class="btn btn-default ns-button" ui-sref="root.adult.anthropometry">Antropometría</a>
    <a class="btn btn-default ns-button" ui-sref="root.adult.calories">Calculo de Calorías</a>
    <a class="btn btn-default ns-button" ui-sref="root.adult.rations">Calculo de Raciones</a>
  </div>
</div>
