<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Índicadores bioquímicos</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th rowspan="2">Determinación</th>
          <th colspan="2">Rangos normales</th>
        </tr>
        <tr>
          <th>Masculino</th>
          <th>Femenino</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Glucosa en plasma</th>
          <td colspan="2">70 a 110 mg/dL</td>
        </tr>
        <tr>
          <th>Ácido urico en suero</th>
          <td>2.5 a 8 mg/dL</td>
          <td>1.5 a 6 mg/dL</td>
        </tr>
        <tr>
          <th>Albúmina en suero</th>
          <td colspan="2">3.5 a 5 g/dL</td>
        </tr>
        <tr>
          <th>Creatinina en suero</th>
          <td>0.1 a 0.4 mg/dL</td>
          <td>0.2 a 0.7 mg/dL</td>
        </tr>
        <tr>
          <th>Ferritina en suero</th>
          <td colspan="2">15 a 200 microgramos/dL</td>
        </tr>
        <tr>
          <th>Globulina</th>
          <td colspan="2">2 a 3.5 g/dL</td>
        </tr>
        <tr>
          <th>Prealbumina en suero</th>
          <td colspan="2">10 a 40 mg/dL</td>
        </tr>
        <tr>
          <th>Proteínas totales en suero</th>
          <td colspan="2">5 a 8 g/dL</td>
        </tr>
        <tr>
          <th>Transferrina en suero</th>
          <td colspan="2">200 a 400 mg/dL</td>
        </tr>
        <tr>
          <th>Urea en suero</th>
          <td colspan="2">17 a 42 mg/dL</td>
        </tr>
        <tr>
          <th>Colesterol HDL en suero o en plasma</th>
          <td colspan="2">30 a 85 mg/dL</td>
        </tr>
        <tr>
          <th>Colesterol LDL en suero o en plasma</th>
          <td colspan="2">60 a 235 mg/dL</td>
        </tr>
        <tr>
          <th>Colesterol Total en suero</th>
          <td colspan="2">140 a 220 mg/dL</td>
        </tr>
        <tr>
          <th>Lípidos totales en suero</th>
          <td colspan="2">400 a 800 mg/dL</td>
        </tr>
        <tr>
          <th>Triglicéridos</th>
          <td colspan="2">35 a 160 mg/dL</td>
        </tr>
        <tr>
          <th>Ácido ascórbico en suero</th>
          <td colspan="2">0.4 a 1 mg/dL</td>
        </tr>
        <tr>
          <th>Ácido ascórbico en sangre</th>
          <td colspan="2">0.7 a 2 mg/dL</td>
        </tr>
        <tr>
          <th>Ácido Fólico en suero</th>
          <td colspan="2">6 a 15 ng/ml</td>
        </tr>
        <tr>
          <th>Biotina en plasma </th>
          <td colspan="2">200 a 500 pg/ml</td>
        </tr>
        <tr>
          <th>Calciferol 1.25 (OH)2 D3 en suero</th>
          <td colspan="2">25 a 45 pg/ml</td>
        </tr>
        <tr>
          <th>Calciferol 25 (OH) D3 en plasma</th>
          <td colspan="2">15 a 80 ng/ml</td>
        </tr>
        <tr>
          <th>Calciferol 24.25 (OH)2 D en suero</th>
          <td colspan="2">0.9 a 1.7 ng/dL</td>
        </tr>
        <tr>
          <th>Calciferol 25.26 (OH)2 D en suero</th>
          <td colspan="2">0.4 a 0.6 ng/ml</td>
        </tr>
        <tr>
          <th>Cobalamina en suero</th>
          <td colspan="2">200 a 600 pg/ml</td>
        </tr>
        <tr>
          <th>Niacimida en plasma</th>
          <td colspan="2">3 a 6 microgramos/ml</td>
        </tr>
        <tr>
          <th>Pantotenato en plasma</th>
          <td colspan="2">150 a 400 ng/ml</td>
        </tr>
        <tr>
          <th>Piridoxina en plasma</th>
          <td colspan="2">3.6 a 18 ng/ml</td>
        </tr>
        <tr>
          <th>Retinol en suero</th>
          <td colspan="2">30 a 90 microgramos/dL</td>
        </tr>
        <tr>
          <th>Tiamina en plasma</th>
          <td colspan="2">10 a 64 ng/ml</td>
        </tr>
        <tr>
          <th>Calcio en plasma</th>
          <td colspan="2">9 a 10.5 mg/dL</td>
        </tr>
        <tr>
          <th>Calcio ionizado en suero</th>
          <td colspan="2">4.5 a 5.6 mg/dL</td>
        </tr>
        <tr>
          <th>Cinc en suero</th>
          <td colspan="2">100 140 microgramos/dL</td>
        </tr>
        <tr>
          <th>Cobre en suero</th>
          <td>70 a 140 microgramos/dL</td>
          <td>80 a 155 microgramos/dL</td>
        </tr>
        <tr>
          <th>Cromo</th>
          <td colspan="2">0.5 a 9 microgramos/dL</td>
        </tr>
        <tr>
          <th>Fósforo en suero</th>
          <td colspan="2">3 a 4.5 mg/dL</td>
        </tr>
        <tr>
          <th>Hierro en suero</th>
          <td colspan="2">70 a 140 microgramos/dL</td>
        </tr>
        <tr>
          <th>Magnesio</th>
          <td colspan="2">2 a 3 mg/dL</td>
        </tr>
        <tr>
          <th>Manganeso en suero y sangre</th>
          <td colspan="2">0.09 microgramos/dL</td>
        </tr>
        <tr>
          <th>Molibdeno en suero y sangre</th>
          <td colspan="2">1.5 microgramos/dL</td>
        </tr>
        <tr>
          <th>Níquel en suero y sangre</th>
          <td colspan="2">2.5 microgramos/dL</td>
        </tr>
        <tr>
          <th>Potasio en suero</th>
          <td colspan="2">3.5 a 5 mmol/L</td>
        </tr>
        <tr>
          <th>Selenio en sangre</th>
          <td colspan="2">20 microgramos/dL</td>
        </tr>
        <tr>
          <th>Selenio en suero</th>
          <td colspan="2">13.5 microgramos/dL</td>
        </tr>
        <tr>
          <th>Sodio en suero</th>
          <td colspan="2">136 a 145 mmol/L</td>
        </tr>
        <tr>
          <th>Vanadio en sangre</th>
          <td colspan="2">0.005 a 8.4 micromoles/L</td>
        </tr>
        <tr>
          <th>Yodo en suero</th>
          <td colspan="2">4 a 8 microgramos/dL</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Biometría Hemática</h2>
  </div>
  <div class="ns-card-body">
    <label>Serie Roja:</label>
    <table class="table table-striped">
      <thead>
        <tr>
          <th rowspan="2">Perímetro</th>
          <th rowspan="2">Unidad</th>
          <th colspan="2">Valores normales</th>
        </tr>
        <tr>
          <td>Varones</td>
          <td>Mujeres</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Eritrocitos</td>
          <td>células x 106/ml</td>
          <td>5.4 &#177; 0.9</td>
          <td>4.8 &#177; 0.6</td>
        </tr>
        <tr>
          <td>Hemoglobina</td>
          <td>g/dl</td>
          <td>16.0 &#177; 2.0</td>
          <td>14.0 &#177; 2.0</td>
        </tr>
        <tr>
          <td>Hematócrito</td>
          <td>%</td>
          <td>47.0 &#177; 5.0</td>
          <td>42.0 &#177; 5.0</td>
        </tr>
        <tr>
          <td>Volumen corspuscular medio</td>
          <td>fl</td>
          <td colspan="2">90 &#177; 7</td>
        </tr>
        <tr>
          <td>Hemoglobina corpuscular media</td>
          <td>pg</td>
          <td colspan="2">29 &#177; 7</td>
        </tr>
        <tr>
          <td>Concentración de hemoglobina corpuscular media</td>
          <td>g/dl</td>
          <td colspan="2">34 &#177; 2</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <label>Serie Blanca:</label>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Célula</th>
          <th>Células/µl</th>
          <th>Células x 10<sup>3</sup>/µl</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="4">Neutrófilos</th>
        </tr>
        <tr>
          <th>totales</th>
          <td>4400</td>
          <td>1.8 a 7.7</td>
          <td>59</td>
        </tr>
        <tr>
          <th>bandas</th>
          <td>220</td>
          <td>0.0 a 0.7</td>
          <td>3</td>
        </tr>
        <tr>
          <th>segmentados</th>
          <td>4200</td>
          <td>1.8 a 7</td>
          <td>56</td>
        </tr>
        <tr>
          <th>Linfocitos</th>
          <td>2500</td>
          <td>1 a 4.8</td>
          <td>34</td>
        </tr>
        <tr>
          <th>Monocitos</th>
          <td>300</td>
          <td>0.0 a 0.8</td>
          <td>4.0</td>
        </tr>
        <tr>
          <th>Eosinófilos</th>
          <td>200</td>
          <td>0 a 0.4</td>
          <td>2.7</td>
        </tr>
        <tr>
          <th>Basófilos</th>
          <td>40</td>
          <td>0 a 0.2</td>
          <td>0.5</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <label>Plaquetas:</label>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Parámetro</th>
          <th>Unidad</th>
          <th>Valores normales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Plaquetas</th>
          <th>Células x 10<sup>3</sup>/µl</th>
          <th>150 a 400</th>
        </tr>
      </tbody>
    </table>

    <hr>

    <label>Valores de hemoglobina:</label>
    <table class="table table-striped">
      <thead>
        <tr>
          <th rowspan="2">Altitud (m)</th>
          <th colspan="2">Varones</th>
          <th colspan="2">Mujeres</th>
        </tr>
        <tr>
          <th>Mediana</th>
          <th>Desviación estándar</th>
          <th>Mediana</th>
          <th>Desviación estándar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Nivel del mar</th>
          <td>15.8</td>
          <td>1.18</td>
          <td>13.8</td>
          <td>1.12</td>
        </tr>
        <tr>
          <th>1000</th>
          <td>16</td>
          <td>0.92</td>
          <td>14.1</td>
          <td>0.95</td>
        </tr>
        <tr>
          <th>1860</th>
          <td>16.8</td>
          <td>1.08</td>
          <td>14.5</td>
          <td>0.88</td>
        </tr>
        <tr>
          <th>2670</th>
          <td>17.61</td>
          <td>1.18</td>
          <td>15.3</td>
          <td>1.1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Diagnóstico de hipertensión arterial</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Lípido</th>
          <th>Recomendable</th>
          <th>Limítrofe</th>
          <th>Riesgo alto</th>
          <th>Riesgo muy alto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Colesterol total</th>
          <td>< 200 mg/dL</td>
          <td>200 a 239 mg/dL</td>
          <td>>= 240 mg/dL</td>
          <td></td>
        </tr>
        <tr>
          <th>Colesterol LDL</th>
          <td>< 130 mg/dL</td>
          <td>130 a 159 mg/dL</td>
          <td>>= 160 mg/dL</td>
          <td>>= 190 mg/dL</td>
        </tr>
        <tr>
          <th>Colesterol HDL</th>
          <td>> 35 mg/dL</td>
          <td></td>
          <td>< 35 mg/dL</td>
          <td></td>
        </tr>
        <tr>
          <th>Triglicéridos</th>
          <td>< 150 mg/dL</td>
          <td>150 a 200 mg/dL</td>
          <td>> 200 mg/dL</td>
          <td>> 1000 mg/dL</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Examen General de Orina</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Determinación</th>
          <th>Rangos Normales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Bilirrubina</th>
          <td>Negativo</td>
        </tr>
        <tr>
          <th>Creatinina</th>
          <td>Varón:14 a 26 mg/kg/día</td>
        </tr>
        <tr>
          <th>Densidad</th>
          <td>1.002 a 1.030</td>
        </tr>
        <tr>
          <th>Glucosa</th>
          <td>50 a 300 mg/día</td>
        </tr>
        <tr>
          <th>Oxalato</th>
          <td>8 40 microgramos/día</td>
        </tr>
        <tr>
          <th>pH</th>
          <td>4.5 a 8</td>
        </tr>
        <tr>
          <th>Urea</th>
          <td>6 a 17 g/día</td>
        </tr>
        <tr>
          <th>Uribilinógeno</th>
          <td>1 a 3.5 mg/día</td>
        </tr>
        <tr>
          <th>Volumen</th>
          <td>1200 ml/día</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Diagnóstico de desnutrición</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Determinación</th>
          <th>Depleción leve</th>
          <th>Depleción moderada</th>
          <th>Depleción severa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Albúmina en suero</th>
          <td>3 a 3.5 g/dL</td>
          <td>2.5 a 2.9 g/dL</td>
          <td>< 2.5 severa</td>
        </tr>
        <tr>
          <th>Prealbúmina en suero</th>
          <td>10 a 15 mg/dL</td>
          <td>5 a 10 mg/dL</td>
          <td>< 5 mg/dL</td>
        </tr>
        <tr>
          <th>Recuento de Linfocitos totales en sangre</th>
          <td>1200 a 2000 mm3</td>
          <td>800 a 1200 mm3</td>
          <td>< 800 mm3</td>
        </tr>
        <tr>
          <th>Transferrina en suero</th>
          <td>150 a 200 mg/dL</td>
          <td>100 a 150 mg/dL</td>
          <td>< 100 mg/dL</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Diagnóstico de anemia</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th colspan="2">Puntos de corte</th>
        </tr>
        <tr>
          <th>Género</th>
          <th>Hemoglobina (&#60;g/dL)</th>
          <th>Hematócrito (&#60;%)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Masculino</th>
          <td>13.5</td>
          <td>39.9</td>
        </tr>
        <tr>
          <th>Femenino</th>
          <td>12</td>
          <td>35.7</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Diagnóstico de hipertensión arterial</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th rowspan="2">Categoría</th>
          <th colspan="2">Puntos de corte </th>
        </tr>
        <tr>
          <th>Sistólica (mmHg)</th>
          <th>Diastólica</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Óptima</th>
          <td>< 120</td>
          <td>< 80</td>
        </tr>
        <tr>
          <th>Presión arterial normal</th>
          <td>120 a 129</td>
          <td>80 a 84</td>
        </tr>
        <tr>
          <th>Presión arterial Fronteriza</th>
          <td>130 a 139</td>
          <td>85 a 89</td>
        </tr>
        <tr>
          <th>Hipertensión I</th>
          <td>140 a 159</td>
          <td>90 a 99</td>
        </tr>
        <tr>
          <th>Hipertensión II</th>
          <td>160 a 179</td>
          <td>100 a 109</td>
        </tr>
        <tr>
          <th>Hipertesión III</th>
          <td>>= 180</td>
          <td>>= 110</td>
        </tr>
        <tr>
          <th>Hipertensión sistólica aislada</th>
          <td>>= 140</td>
          <td>< 90</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Diagnóstico de Dislipidemias</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Dislipidemia</th>
          <th>Determinación</th>
          <th>Puntos de corte</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="3">Hipercolesterolemia</th>
          <td>Colesterol total</td>
          <td>< 200 mg/dL</td>
        </tr>
        <tr>
          <td>Colesterol LDL</td>
          <td>>= 130 mg/dL</td>
        </tr>
        <tr>
          <td>Triglecéridos</td>
          <td>< 200 mg/dL</td>
        </tr>
        <tr>
          <th>Hipercolesterolemia</th>
          <td>Colesterol total</td>
          <td>200 a 239 mg/dL</td>
        </tr>
        <tr>
          <th>Hipercolesterolemia moderada</th>
          <td>Colesterol total</td>
          <td>240 a 300 mg/dL</td>
        </tr>
        <tr>
          <th>Hipercolesterolemia severa</th>
          <td>Colesterol total</td>
          <td>> 200 mg/dL</td>
        </tr>
        <tr>
          <th rowspan="2">Hipercolesterolemia con riesgo bajo de enfermedad cardio o cerebro vascular</th>
          <td>Colesterol LDL</td>
          <td>< 130 mg/dL</td>
        </tr>
        <tr>
          <td>Colesterol HDL</td>
          <td>> 35 mg/dL</td>
        </tr>
        <tr>
          <th rowspan="2">Hipercolesterolemia con riesgo moderado de enfermedad cardio o cerebro vascular</th>
          <td>Colesterol LDL</td>
          <td>130 a 159 mg/dL</td>
        </tr>
        <tr>
          <td>Colesterol HDL</td>
          <td>> 35 mg/dL y algún factor de riesgo</td>
        </tr>
        <tr>
          <th rowspan="2">Hipercolesterolemia con riesgo alto de enfermedad cardio o cerebro vascular</th>
          <td>Colesterol LDL</td>
          <td rowspan="2">130 a 159 mg/dL y dos o más factores de riesgo o >= 160 mg/dL con o sin factores de riesgo o < 35 mg/dL</td>
        </tr>
        <tr>
          <td>Colesterol HDL</td>
        </tr>
        <tr>
          <th rowspan="3">Hipertrigliceridemia</th>
          <td>Triglicéridos</td>
          <td>> 200 mg/dL</td>
        </tr>
        <tr>
          <td>Colesterol total</td>
          <td>< 200 mg/dL</td>
        </tr>
        <tr>
          <td>Colesterol de lipoproteína LDL</td>
          <td>< 130 mg/dL</td>
        </tr>
        <tr>
          <th rowspan="3">Dislipidemia mixta o combinada</th>
          <td>Colesterol total</td>
          <td>> 200 mg/dL</td>
        </tr>
        <tr>
          <td>Colesterol de lipoproteína LDL</td>
          <td>>= 130 mg/dL</td>
        </tr>
        <tr>
          <td>Triglicéridos</td>
          <td>> 200 mg/dL</td>
        </tr>
        <tr>
          <th rowspan="3">Hipoalfapoproteinemia</th>
          <td>Colesterol de lipoproteína HDL</td>
          <td>< 35 mg/dL</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Diagnóstico de diabetes</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th rowspan="5">Diabetes</th>
          <td>Si cumple cualquiera de los siguientes criterios</td>
        </tr>
        <tr>
          <td>Presencia de síntomas clásicos de diabetes y glucemia plásmastica casual > 200mg/dL (11.1 mmol/L)</td>
        </tr>
        <tr>
          <td>o glucosa plasmática en ayuno > 126 mg/dL (7mmol/L)</td>
        </tr>
        <tr>
          <td>o glucosa plasmática en ayuno > 126 mg/dL (7mmol/L)</td>
        </tr>
        <tr>
          <td>o glucemia > 200 mg/dL (11.1 mmol/L a las 2 horas después de la carga oral de 75g de glucosa disuelta en agua. En ausencia de hiperglucemia inequívoca, con descompensación metabólica aguda, el diagnóstico debe copnformarse repitiendo la prueba otro día.</td>
        </tr>
        <tr>
          <td>Glucosa anormal en ayuno</td>
          <td>Glucosa plasmática en suero > 110 mg/dL (6.1 mmol/L) y < 126 mg/dL (6.9 mmol/L)</td>
        </tr>
        <tr>
          <td>Intolerancia ala glucosa</td>
          <td>Glucosa plasmática, a las dos horas de la carag > 140 mg/dL (7.8 mmol/L) y < 200 mg/dL (11.1mmol/L)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ns-card animated fadeInUp">
  <div class="ns-card-header ns-title">
    <h2>Diagnóstico de Sindrome métabolico</h2>
  </div>
  <div class="ns-card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Perímetro de cintura</th>
          <th>Triglicéridos</th>
          <th>Clolesterol HDL</th>
          <th>Presión arterial</th>
          <th>Glucosa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">De acuerdo con la raza</td>
          <td rowspan="2">>= 150 mg/dL</td>
          <td>Masculino < 40 mg/dL</td>
          <td>Sistólica >= 130 mmHg</td>
          <td>>= 100 mg/dL con el diagnóstico previo de diabetes tipo 2. Si es >= 100mg/dL, se recomiendauna prueba de tolerancia a la glucosa oral, aunque no es necesario para definir la presencia del síndrome</td>
        </tr>
        <tr>
          <td>Femenino < 50mg/dL</td>
          <td>Diastólica >= 85mmHg</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="5">Obesidad central más de 2 valores alterados representan un diagnóstico positivo.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
