<ui-view>
<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class='text-right'>Prediálitico</h1>
  </div>
  <div class="panel-body">
    <a class="btn btn-default ns-button" ui-sref="root.kidney_failure.predialysis.lab_studies">Estudios de Laboratorio</a>
    <a class="btn btn-default ns-button" ui-sref="root.kidney_failure.predialysis.anthropometry">Antropometría</a>
    <a class="btn btn-default ns-button" ui-sref="root.kidney_failure.predialysis.calories">Cálculo de Calorías</a>
    <a class="btn btn-default ns-button" ui-sref="root.kidney_failure.predialysis.rations">Cálculo de Raciones</a>
  </div>
</div>
