<div class="form-group">
  <h2 class="ns-title">Diagnóstico de desnutrición</h2>
  <label>Albúmina</label>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>>= 4</th>
        <th>3 a 3.9</th>
        <th>2.1 a 3</th>
        <th>< 2.1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Normal</td>
        <td>DN leve</td>
        <td>DN moderada</td>
        <td>DN grave</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Urea</td>
        <td>>= 100mg/dL</td>
      </tr>
      <tr>
        <td>Creatinina</td>
        <td>9 a 11 mg/dL</td>
      </tr>
      <tr>
        <td>Colesterol</td>
        <td>150 a 180 mg/dL</td>
      </tr>
    </tbody>
  </table>

  <label>Etapas de la insuficiencia renal</label>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Etapa</th>
        <th>Descripción</th>
        <th>Tasa de filtración glomerular (TFG)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Daño renal</td>
        <td>90 o más</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Daño renal con leve disminución de TFG</td>
        <td>60 a 89</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Disminución moderada de TFG</td>
        <td>30 a 59</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Reducción severa del TFG</td>
        <td>15 a 29</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Insuficiencia renal</td>
        <td>menor de 15</td>
      </tr>
    </tbody>
  </table>
</div>
