$ns-blue: #4385F5;
$ns-red: #DC4437;
$ns-yellow: #FCBE1F;
$ns-green: #109D59;
$ns-white: #fff;
$ns-black: #121515;
$ns-view-container-bk: #E5E9EC;
$ns-sidebar: #1B1E24;
$ns-sidebar-active: #121515;
$ns-carved-text: #8B91A0;
$ns-pink: #FE4365;
