@import 'variables';

.breadcrumb {
  background-color: transparent;
  float: left;
  margin-bottom: 0;
  margin-right: 60px;
  margin-top: 6px;
}

.ns-card {
  background: $ns-white;
  margin-bottom: 20px;
}

.ns-card-body {
  padding: 15px;
}

.ns-card-header {
  border-bottom: 2px solid $ns-view-container-bk;
  padding: 15px;
}

.view-container {
  background: $ns-view-container-bk;
  bottom: 0;
  padding: 20px;
  position: absolute;
  top: 50px;
  width: 100%;
}

.ns-button {
  border: 0;
  border-radius: 0;
  color: $ns-white;
  font-size: 20px;
  margin-bottom: 10px;
  min-height: 100px;
  line-height: 70px;
  padding: 20px 10px;
  white-space: normal;
  width: 100%;
  &:hover {
    color: $ns-white;
  }
  span {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
  }
}

.ns-button.ns-green {
  background: $ns-green;
  &:hover {
    background: darken($ns-green, 15%);
  }
}
.ns-button.ns-blue {
  background: $ns-blue;
  &:hover {
    background: darken($ns-blue, 15%);
  }
}
.ns-button.ns-red {
  background: $ns-red;
  &:hover {
    background: darken($ns-red, 15%);
  }
}
.ns-button.ns-yellow {
  background: $ns-yellow;
  &:hover {
    background: darken($ns-yellow, 15%);
  }
}
.ns-button.ns-black {
  background: lighten($ns-black, 10%);
  &:hover {
    background: $ns-black;
  }
}

.ns-main-quote {
  margin-top: 70px;
  font-size: 25px;
  p {
    margin-top: 20px;
    font-style: italic;
  }
}

.ns-card-header.ns-title {
  background: $ns-blue;
  h2 {
    margin: 0;
  }
}

.ns-scroll-x {
  overflow-x: auto; -webkit-overflow-scrolling: touch;
}
.ns-scroll-y {
  overflow-y: auto; -webkit-overflow-scrolling: touch;
}

.td-danger {
  background-color: rgba($ns-red, .5);
}

.td-warning {
  background-color: rgba($ns-yellow, .5);
}

.td-info {
  background-color: rgba($ns-blue, .5);
}

.left-panel {
  width: 225px;
  background: $ns-sidebar;
  margin-left: -15px;
  overflow: hidden;
  position: absolute;
  top: 0; bottom: 0;
}

.right-panel {
  left: 225px;
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

.icon-right {
  pointer-events:none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.ns-sidebar-submenu {
  background: #22262E;
  border-bottom: 1px solid #121515;
  padding: 0;
  & > li.active > a {
    background: $ns-sidebar-active;
    border-left-color: $ns-pink;
    color: $ns-white;
    padding-left: 20px;
  }
  & > li > a {
    border-left: 4px solid transparent;
    color: #D3D6DB;
    display: block;
    font-size: 13px;
    padding: 10px 25px;
    -webkit-transition:All 0.4s ease;
    -moz-transition:All 0.4s ease;
    -o-transition:All 0.4s ease;
    &:hover {
      color: #fff;
      background: #121515;
      text-decoration: none;
    }
  }
}

.input-group-select {
  width: 100%;
}

.input-group .form-control {
  border-radius: 0;
}

.ns-close-btn {
  background: transparent;
  color: $ns-red;
  font-size: 50px;
  position: absolute;
  right: 0;
}

.ns-clip-circle {
  background-size: 720px 480px;
  border: 2px solid white;
  border-radius: 50%;
  height: 105px;
  margin: auto;
  overflow: hidden;
  width: 105px;
}

.ns-quote-author {
  float: right;
}

button[btn-radio], button[btn-checkbox] {
  font-size: 20px;
  padding: 8px 15px;
  &.active {
    color: $ns-carved-text;
  }
}

.modal-big .modal-dialog {
  max-width: 1000px;
  width: auto;
}
