body { padding-top: 70px; }

.navbar-header {
  text-align: center;
}

.navbar-brand {
  font-size: 25px;
  min-width: 218px;
  width: 100%;
}

.ns-main-sidebar {
  position: relative;
  .nav-stacked {
    position: fixed;
    width: 20%;
  }
}

.ns-title {
  @extend .bg-primary;
  margin-bottom: 10px;
  padding: 7px;
}

.ns-button {
  margin: 5px 0;
  padding: 20px;
}

.breadcrumb {
  margin-top: -15px;
}

table.calculation-table {
  input[type='number'] {
    width: 55px;
  }
  td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

.td-danger {
  background-color: #f2dede;
}

.td-warning {
  background-color: #fcf8e3;
}

.td-info {
  background-color: #d9edf7;
}

.ns-main-quote {
  margin-top: 70px;
  font-size: 25px;
  p {
    margin-top: 20px;
    font-style: italic;
  }
}

#ns-btn-about {
  margin-top: 8px;
  position: absolute;
  right: 15px;
  top: 0px;
}

@media (max-width: 992px) {
  .ns-main-sidebar .nav-stacked {
    position: relative !important;
    width: auto !important;
  }
}

.table tr:hover td{
  background: #ddd;
}
