@import 'variables';

body {
  padding-top: 70px;
}

.container {
  min-width: 100%;
}

#ns-main-container-header {
  background: $ns-white;
  height: 50px;
  .navbar-default {
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }
}

.ns-sidebar-header {
  background: $ns-sidebar-active;
  height: 50px;
  text-align: center;
  h1 {
    display: inline-block;
    font-size: 30px;
    margin: 8px 0 0 0;
    a {
      color: $ns-carved-text;
      text-decoration: none;
      &:hover{
        color: $ns-white;
      }
    }
    span {
      font-size: 21px;
    }
  }
}

.ns-sidebar .ns-sidebar-inner {
  margin-top: 60px;
  & > ul > li {
    &.active a{
      background: $ns-sidebar-active;
      border-left-color: $ns-blue;
      color: $ns-white;
      padding-left: 20px;
    }
    > a {
      border-left: 4px solid transparent;
      border-radius: 0;
      color: $ns-carved-text;
      display: block;
      font-size: 14px;
      padding: 10px 15px;
      -webkit-transition: All 0.25s ease;
      -moz-transition: All 0.25s ease;
      -o-transition: All 0.25s ease;
      &:hover {
        background: $ns-sidebar-active;
        border-left-color: $ns-blue;
        color: $ns-white;
        padding-left: 20px;
      }
    }
  }
}

.ns-toggle-sidebar {
  background: $ns-sidebar;
  border: none;
  border-radius: 0;
  color: $ns-white;
  display: none;
  font-size: 20px;
  height: 50px;
  left: 0;
  margin: 0;
  padding: 11px 20px;
  position: absolute;
  top: 0px;
  z-index: 99999;
  span {
    background: $ns-white;
  }
}

.navbar-header {
  text-align: center;
}

.navbar-brand {
  font-size: 25px;
  min-width: 218px;
  width: 100%;
}

table.calculation-table {
  input[type='number'] {
    width: 55px;
  }
  td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#ns-btn-about {
  font-size: 40px;
  margin-top: 1px;
  position: absolute;
  right: 15px;
  top: 0px;
}
