/*Large Desktop*/
@media (min-width: 1200px) {
  .view-container {
    padding: 20px 5%;
  }
  .ns-card-body {
    padding: 15px 5%;
  }
}

/*Desktop*/
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 992px) {

  .breadcrumb {
    float: none;
    text-align: center;
    width: 100%;
  }

}

/*Small desktop or tablet*/
@media (min-width: 768px) and (max-width: 991px) {

  body {
    overflow-x: hidden;
  }

  .ns-toggle-sidebar {
    display: block;
  }

  .navbar {
    margin: 0 0 0 40px;
  }

  .left-panel {
    width: 225px;
    margin-left: 0px;
    left: -225px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .right-panel {
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow-x: hidden;
  }

  .ns-sidebar-open {
    left: 0px;
  }
  .ns-sidebar-open-content{
    left: 225px;
    right: -225px;
  }

}

/*Phone*/
@media (max-width: 767px) {
  .ns-toggle-sidebar {
    display: block;
  }

  .left-panel {
    width: 250px;
    margin-left: 0px;
    left: -225px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .right-panel {
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow-x: hidden;
  }

  .ns-sidebar-open {
    left: 0px;
  }
  .ns-sidebar-open-content{
    left: 250px;right: -250px;
  }
}

@media (max-width: 600px){
  .view-container {
    padding: 20px 2px;
  }
}

@media (max-width: 480px){
}

@media (max-width: 360px){
}

@media (max-width: 320px){
}
