<div class="ns-card animated fadeInUpBig">
  <div class="ns-card-body">
    <div class="form-group">
      <h2 class="ns-title">Signos diferenciales entre el Kwashiorkor y el marasmo</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Caracteristicas</th>
            <th>Kwashiorkor</th>
            <th>Marasmo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Causa clínica</th>
            <td>Ingesta calórica insfuficiente</td>
            <td>Ingesta proteíca insuficiente durante estrés o enfermedad</td>
          </tr>
          <tr>
            <th>Tiempo de desarrollo</th>
            <td>Meses</td>
            <td>Semanas</td>
          </tr>
          <tr>
            <th rowspan="3">Características antropométricas</th>
            <td>Peso de acuerdo con la talla < 80%</td>
            <td></td>
          </tr>
          <tr>
            <td>Pliegue del tríceps < 3 mm<80%</td>
            <td></td>
          </tr>
          <tr>
            <td>Circunferencia muscular del brazo < 15 cm<80%</td>
            <td></td>
          </tr>
          <tr>
            <th>Características bioquímicas</th>
            <td>Índice creatinina-talla < 60%</td>
            <td>Albumina < 3.5 a 3.0 g/dL</td>
          </tr>
          <tr>
            <th rowspan="3">Características clínicas</th>
            <td rowspan="3">Apariencia de desnutrición</td>
            <td>Apariencia de buena nutrición</td>
          </tr>
          <tr>
            <td>Cabello que se desprende con facilidad</td>
          </tr>
          <tr>
            <td>Edema</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
